@media (max-width: $mobile-width-only)
  .main-nav--closed .main-nav__list
    display: none

  .main-nav--closed .main-nav__toggle
    &::before
      content: ""
      position: absolute
      top: 17px
      right: 20px
      width: 23px
      height: 4px
      background-color: $blue
      box-shadow: 0 8px 0 0 $blue, 0 16px 0 0 $blue

    &:hover
      opacity: 0.6

    &:active
      opacity: 0.3

  .main-nav--opened
    margin-bottom: -2px

  .main-nav--opened .main-nav__toggle
    &::before,
    &::after
      content: ""
      position: absolute
      top: 50%
      left: 50%
      width: 28px
      height: 4px
      margin-top: -2px
      margin-left: -14px
      background-color: $white

    &::before
      transform: rotate(45deg)
      box-shadow: none

    &::after
      transform: rotate(-45deg)

    &:hover
      opacity: 0.6

    &:active
      opacity: 0.3

  .main-nav--withoutjs .main-nav__toggle
    display: none

  .main-nav--withoutjs .main-nav__list
    display: block

.main-nav__toggle
  position: absolute
  top: 0
  right: 0
  height: 56px
  width: 63.1px
  padding: 0
  background: none
  border: none
  cursor: pointer

  @media (min-width: $tablet-width) and (max-width: $desktop-width)
    display: none

.main-nav
  position: relative
  min-height: 56px
  z-index: 2

.main-nav__list
  margin: 0
  padding: 0
  list-style: none
  background-color: $blue

  @media (min-width: $tablet-width)
    display: flex
    flex-wrap: wrap
    background: none

  @media (min-width: $desktop-width)
    background: $white

.main-nav__item
  width: 100%
  margin-bottom: 1px
  padding-top: 9px
  padding-bottom: 5px
  text-align: center
  border-bottom: 1px solid $dark-blue
  background-color: $blue
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2)

  &:hover
    background-color: $dark-blue-hover

  &:active
    background-color: $dark-blue-active
    & a
      opacity: 0.3

  &:not(:first-of-type):not(:last-of-type)
    padding-top: 8px
    border-top: 1px solid $light-blue

  &:last-of-type
    position: relative
    margin-bottom: 0
    border-bottom: none
    border-top: 1px solid $light-blue
    &::before
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 7px
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%)

  @media (min-width: $tablet-width)
    width: 19.9%
    margin: 0
    padding: 0
    border: none
    background: none

    &:hover
      background: none

    &:active
      background: none

    &:last-of-type
      &::before
        display: none

    &:not(:first-of-type):not(:last-of-type),
    &:last-of-type
      padding: 0
      border: none

  @media (min-width: $desktop-width)
    width: 19.95%

.main-nav__item--separate
  @media (min-width: $tablet-width) and (max-width: $tablet-width-only)
    margin-right: 20.4%

  @media (min-width: $desktop-width)
    margin-right: 20.2%

.main-nav__item a
  text-decoration: none

  @include fstyle(18px, 40px, $white, 700, uppercase)

  @media (min-width: $tablet-width)
    display: inline-block
    width: 100%
    padding-top: 16px
    padding-bottom: 14px

    @include fstyle(14px, 26px, $black, 700, uppercase)

    &:active
      color: $dark-grey-active
      opacity: 0.3

    &:hover
      color: $dark-grey-hover
