.page-header
  @media (min-width: $desktop-width)
    background-color: $grey

.page-header.container
  @media (max-width: $tablet-width-only)
    width: auto
    margin: 0
    padding: 0

.page-header__logo
  position: absolute
  top: 0
  left: 50%
  height: 84px
  width: 101.6px
  margin-left: -50.8px
  z-index: 1

  @media (min-width: $desktop-width)
    height: 96.4px
    width: 186.6px
    margin-left: -93.3px
    z-index: 3

.page-header__promo-wrapper
  position: relative
  min-height: 377px
  background-image: url('../img/mobile-promo-background.jpg')
  background-position: 50% 100.1%
  background-repeat: no-repeat

  @media (min-width: $tablet-width)
    min-height: 518px

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only)
    background-image: url('../img/tablet-promo-background.jpg')

  @media (min-width: $desktop-width)
    background-image: url('../img/promo-background.jpg')

.page-header__promo-wrapper--sidepage
  min-height: 158px
  background-image: url('../img/mobile-promo-background-short.jpg')

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only)
    min-height: 290px
    background-image: url('../img/tablet-promo-background-short.jpg')

  @media (min-width: $desktop-width)
    min-height: 301px
    background-image: url('../img/promo-background-short.jpg')

.page-header__promo
  position: absolute
  top: 90px
  left: 50%
  width: 88.1%
  height: 214px
  transform: translate(-50%, 0)

  @media (min-width: $tablet-width)
    height: 350px

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only)
    width: 60%

  @media (min-width: $desktop-width)
    width: 36%

.page-header__promo--sidepage
  top: 52px
  left: 50%
  width: 67%
  height: 39px

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only)
    height: 78px
    width: 60%

  @media (min-width: $desktop-width)
    height: 80px
    width: 36%
