/*Colors*/
$white: #fff
$black: #000
$active-black: #0000004d
$blue: #81B3D2
$light-blue: #9ac2db
$grey: #f2f2f2
$dark-grey-hover: #604e43
$dark-grey-active: #766357
$dark-blue: #678fa8
$dark-blue-hover: #669ec0
$dark-blue-active: #5496bd
$white-active-text: #FFFFFF4D
$darker-blue: #81B3D3
$dark-grey: #EEE
$darker-grey: #D6D6D6
$darkest-grey: #E5E5E5
$darkest-grey-active: #D5D5D5
$dark-white: #DBDBDB
$dark-black: #333333
$shadow: rgba(0, 1, 1, 0.20)
$dark-black-rgba: rgba(0, 0, 0, 0.30)

$mobile-width: 320px
$mobile-width-only: 767px
$tablet-width: 768px
$tablet-width-only: 1279px
$desktop-width: 1280px
